body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(19, 70, 134);
  margin: 0;
  min-height: 100vh;
  padding-top: 135px;

  background-image: linear-gradient(
    -45deg,
    rgb(253, 244, 227) 0%,
    rgb(253, 244, 227) 30%,

    rgb(234, 91, 111) 30%,
    rgb(234, 91, 111) 40%,

    rgb(255, 137, 79) 40%,
    rgb(255, 137, 79) 50%,

    rgb(255, 203, 97) 50%,
    rgb(255, 203, 97) 60%,

    rgb(119, 190, 240) 60%,
    rgb(119, 190, 240) 70%,

    rgb(253, 244, 227) 70%,
    rgb(253, 244, 227) 100%
  );

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 0px auto;
  max-width: 600px;
}

h1 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  font-size: 52px;
  line-height: 1.5;
  color: #134686;
  margin-bottom: 20px;
}

.form-wrapper {
  padding: 30px;
  padding-bottom: 25px;
  background-color: rgba(251, 247, 241, 0.7);
  box-shadow: 0px 20px 60px rgba(19, 70, 134, 0.1);
  border-radius: 15px;
}

form {
  display: flex;
}

.hint {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
  margin-left: 10px;
  opacity: 0.6;
}

.prompt-field {
  padding: 16px;
  border: 1px solid rgb(19, 70, 134);
  box-shadow: 0px 20px 60px rgba(19, 70, 134, 0.1);
  width: 80%;
  font-size: 16px;
  border-radius: 10px;
  line-height: 20px;
}

.submit-button {
  padding: 16px 26px;
  border: 1px solid rgb(19, 70, 134);
  border-radius: 10px;
  background-color: rgb(19, 70, 134);
  box-shadow: 0px 20px 60px rgba(19, 70, 134, 0.1);
  color: rgb(251, 247, 241);
  margin-left: 5px;
  font-size: 16px;
  line-height: 20px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: rgb(16, 57, 108);
}

.poem-container {
  padding: 30px;
  background-color: rgba(251, 247, 241, 0.7);
  box-shadow: 0px 20px 60px rgba(19, 70, 134, 0.1);
  border-left: 3px solid rgb(19, 70, 134);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 5px;
  font-size: 15px;
  line-height: 28px;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

a {
  color: rgb(253, 250, 243);
}

.generating {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
}
